OPENAI_API_KEY=""
# LANGCHAIN_VERBOSE="true"
LANGCHAIN_TRACING_V2="true"
# Kept the endpoint as I am using apac region
LANGCHAIN_ENDPOINT=https://apac.api.smith.langchain.com
LANGCHAIN_API_KEY=""
ANTHROPIC_API_KEY=""

PINECONE_API_KEY=""